body{
    margin: 0;
    padding: 0;
    font-size: 16px;

}
.headerText{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;

}

.menu-item1{
    height: 250px;
    width: 100%;
    padding-top: 30px;
    padding: 10px;
    background-color: gray;
    color: black;
    position: relative;
}
.header1 {
    height: 30px;
    width: 100px;
    background-color: pink;
    color: black;
    border: 1px solid black;
    position: absolute;
    top: 0;
    right: 0;
    margin-bottom: 20px;
}
.header2 {
    height: 30px;
    width: 100px;
    background-color: maroon;
    color: black;
    border: 1px solid black;
    position: absolute;
    top: 0;
    right: 0;
    margin-bottom: 20px;
}
.header3 {
    height: 30px;
    width: 100px;
    background-color: lightyellow;
    color: black;
    border: 1px solid black;
    position: absolute;
    top: 0;
    right: 0;
    margin-bottom: 20px;
}

.header1, .header2, .header3 p{
    text-align: center
}
.text{
    position: relative;
    margin-top: 50px
}
 
@media screen and (min-width: 768px) {
    .col-md-6{
        margin-bottom: 10px;
    }
}
@media screen and (max-width: 768px){
    .col-md-6{
        margin-bottom: 10px;
    }
}
